<template>
    <lightning-card title="LoggedInUserId" icon-name="custom:custom19">
        <div class="slds-var-m-around_medium">
            <p>User Id:</p>
            {userId}
        </div>

        <c-view-source source="lwc/miscGetUserId" slot="footer">
            Get the Id of the logged in user.
        </c-view-source>
    </lightning-card>
</template>